.logo {
	grid-area: logo;
}
.title {
	grid-area: title;
	align-self: center;
}
.tags {
	grid-area: tags;
	> div {
		margin-right: 10px;
		margin-bottom: 10px;
	}
}
.price {
	grid-area: price;
}

.oldPrice {
	margin-left: 5px;
}
.credit {
	grid-area: credit;
}
.rating {
	grid-area: rating;
	white-space: nowrap;
}
.titlePrice {
	grid-area: titlePrice;
}
.titleCredit {
	grid-area: titleCredit;
}
.titleRating {
	grid-area: titleRating;
}
.hr {
	grid-area: hr;
}
.hr2 {
	grid-area: hr2;
}
.description {
	grid-area: description;
}
.feature {
	grid-area: feature;
}
.advBlock {
	grid-area: advBlock;
}
.actions {
	display: flex;
	grid-area: actions;
	flex-direction: column;
}

.wrapper {
	display: grid;
	grid-template-columns: 70px 1fr;
	grid-template-areas:
		'logo title'
		'tags tags'
		'titlePrice price'
		'titleCredit credit'
		'rating rating'
		'titleRating titleRating'
		'hr hr'
		'description description'
		'feature feature'
		'advBlock advBlock'
		'hr2 hr2'
		'actions actions';
	gap: 10px 20px;
	margin-bottom: 1rem;
	padding: 2rem;
}

.advantages {
	margin-bottom: 1.2rem;
}

.advantages,
.disadvantages {
	border-left: 3px solid var(--success-400);
	border-radius: 2px;
	padding-left: 1rem;
	font-size: var(--fs-m);
	line-height: 150%;
}

.disadvantages {
	border-color: var(--error);
}
.actions {
	display: flex;
	gap: 1.5rem;
}

.characteristics {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: baseline;
	gap: 1rem;
	line-height: 200%;
}
.dots {
	border-bottom: 1px dotted var(--primary);
}

@media screen and (min-width: 768px) {
	.actions {
		flex-direction: row;
	}
}

@media screen and (min-width: 1024px) {
	.wrapper {
		grid-template-columns: 70px auto auto 1fr;
		grid-template-areas:
			'logo title title title'
			'. tags tags tags'
			'. price credit rating'
			'. titlePrice titleCredit titleRating'
			'hr hr hr hr'
			'description description description description'
			'feature feature feature feature'
			'advBlock advBlock advBlock advBlock'
			'hr2 hr2 hr2 hr2'
			'actions actions actions actions';
	}
}

@media screen and (min-width: 1200px) {
	.wrapper {
		grid-template-columns: 70px 1fr 1fr auto auto auto 1fr 1fr;
		grid-template-areas:
			'logo title title . . price credit rating'
			'logo tags tags tags tags titlePrice titleCredit titleRating'
			'hr hr hr hr hr hr hr hr'
			'description description description description description description description description'
			'feature feature feature feature advBlock advBlock advBlock advBlock'
			'hr2 hr2 hr2 hr2 hr2 hr2 hr2 hr2'
			'actions actions actions actions actions actions actions actions';
	}
}
