.wrapper {
	display: grid;
	grid-template-columns: [start] 70px [logoEnd] 20px [titleStart] 1fr [end];
	margin-bottom: 1rem;
	padding: 2rem;
}

.logo {
	grid-row: 1 / span 2;
	grid-column: start / logoEnd;
}

.title {
	grid-column: titleStart / end;
}

.price,
.credit,
.rating {
	grid-column: titleStart / end;
	font-size: var(--fs-l);
}
.titlePrice,
.titleCredit,
.titleRating {
	grid-column: start / logoEnd;
}

.hr,
.description,
.actions {
	grid-column: start / end;
}

.month {
	font-size: var(--fs-s);
}
.price {
	display: flex;
	align-items: baseline;
	gap: 5px;
}

.hr {
	margin: 1rem 0;
}
.description {
	margin-bottom: 5px;
}
.feature {
	margin-bottom: 1rem;
}
.advBlock {
	grid-column: start / end;

	h3 {
		margin-bottom: 5px;
	}
}
.advantages {
	margin-bottom: 1.2rem;
}

.advantages,
.disadvantages {
	border-left: 3px solid var(--success-400);
	border-radius: 2px;
	padding-left: 1rem;
	font-size: var(--fs-m);
	line-height: 150%;
}

.disadvantages {
	border-color: var(--error);
}
.actions {
	display: flex;
	gap: 1.5rem;
}

@media (min-width: 1024px) {
	.wrapper {
		display: grid;
		grid-template-columns:
			[start] 70px [logoEnd] 30px [titleStart] calc(50% - 100px)
			1fr [middle] auto [priceStart] auto [priceEnd] 20px [creditStart] auto [creditEnd] 20px [ratingStart] auto [end];
		margin-bottom: 1rem;
		padding: 2rem;
	}

	.title,
	.tags {
		grid-column: titleStart / middle;
	}
	.titlePrice,
	.price {
		grid-column: priceStart / priceEnd;
	}
	.titleCredit,
	.credit {
		grid-column: creditStart / creditEnd;
	}
	.titleRating,
	.rating {
		grid-column: ratingStart / end;
	}

	.feature {
		grid-column: start / middle;
		margin-bottom: 0;
	}

	.advBlock {
		grid-column: middle / end;
	}
}

@media (min-width: 1200px) {
	.wrapper {
		display: grid;
		grid-template-columns:
			[start] 70px [logoEnd] 30px [titleStart] calc(50% - 100px)
			1fr [middle] auto [priceStart] auto [priceEnd] 40px [creditStart] auto [creditEnd] 40px [ratingStart] auto [end];
		margin-bottom: 1rem;
		padding: 2rem;
	}
}
