.link {
	display: block;
	position: fixed;
	top: 1rem;
	left: 1rem;
	border-radius: 1rem;
	background-color: var(--accent);
	padding: 0;
	max-width: fit-content;
	height: 0;
	overflow: hidden;
	color: var(--background);
}

.visible {
	padding: 1rem;
	height: auto;
}
