:root {
	--primary: #3b434e;
	--secondary: #fff;
	--accent: #7653fc;
	--succes-200: #c8f8e4;
	--succes-400: #1dc37e;
	--error: #de0000;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	background-color: var(--secondary);
	max-width: 100vw;
	overflow-x: hidden;
	color: var(--primary);
}
