.wrapper {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: auto minmax(280px, 1fr) auto;

	grid-template-areas:
		'. header .'
		'. main .'
		'footer footer footer';
	gap: 40px 10px;
	min-height: 100dvh;
}
.header {
	grid-area: header;
}
.main {
	grid-area: main;
}
.aside {
	display: none;
	grid-area: aside;
}
.footer {
	grid-area: footer;
}
@media (min-width: 765px) {
	.wrapper {
		grid-template-columns: auto 230px minmax(300px, 1460px) auto;
		grid-template-areas:
			'. header header .'
			'. aside main . '
			'footer footer footer footer';
		gap: 40px 30px;
	}

	.header {
		display: none;
	}
	.aside {
		display: grid;
	}
}
