.up {
	position: fixed;
	right: 40px;
	bottom: 40px;
	cursor: pointer;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
	border: none;
	border-radius: 10px;
	background-color: var(--accent);
	width: 40px;
	height: 40px;
}
.up:hover {
	&:hover,
	&:active {
		filter: brightness(0.9);
	}
}
