.wrapper {
	position: relative;
}
.textarea {
	transition: all 0.3s;
	cursor: pointer;
	outline-color: var(--accent);
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
	border: none;
	border-radius: 5px;
	background-color: var(--white);
	padding: 0.5rem 1rem;
	width: 100%;
	overflow-y: hidden;
	resize: vertical;
	font-size: var(--fs-m);

	&::placeholder {
		color: var(--ghost-400);
	}
	&:hover,
	&:active {
		filter: brightness(0.9);
	}
}
.error {
	position: absolute;
	padding-left: 1rem;
	color: var(--error);
	font-size: var(--fs-xs);
}
