.vacancies {
	margin-bottom: 50px;
	& .header {
		display: flex;
		align-items: baseline;
		gap: 30px;
	}
	& .grid {
		display: grid;
		gap: 30px;
		font-size: var(--fs-l);
		text-align: center;

		& .all {
			padding: 20px;
			& .count {
				margin-top: 12px;
				color: var(--accent);
				font-weight: 700;
				font-size: var(--fs-xxxl);
			}
		}
		& .inner_grid {
			display: grid;
			gap: 20px;
			padding: 20px;
			& .salary {
				display: grid;
				gap: 10px;
				&:not(:last-child) {
					> div {
						border-bottom: 1px solid var(--ghost-200);
						padding-bottom: 20px;
					}
				}
			}

			& .value {
				font-weight: 700;
				font-size: var(--fs-xxl);
			}
		}
	}
}

.rates {
	& span:not(:last-child) {
		margin-right: 10px;
	}

	& .filled {
		& circle {
			fill: var(--accent-400);
		}
	}
}

@media (min-width: 765px) {
	.vacancies {
		& .grid {
			& .inner_grid {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				padding: 20px;

				& .salary {
					display: grid;
					gap: 10px;

					&:not(:last-child) {
						border-right: 1px solid var(--ghost-200);
						> div {
							border-bottom: none;
							padding-bottom: 0;
						}
					}
				}
			}
		}
	}
}
